### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

### 생성

#### 1) 리스트

In [2]:
list1 = [70,80,90]

In [3]:
import pandas as pd

ser = pd.Series(list1)
ser

0    70
1    80
2    90
dtype: int64

#### 2) 딕셔너리

In [3]:
ser = pd.Series({"a":1,"b":2,"c":3})
ser

a    1
b    2
c    3
dtype: int64

In [4]:
ser1 = pd.Series(list1, index=["국어","영어","수학"])
ser1

국어    70
영어    80
수학    90
dtype: int64

In [11]:
# 인덱스 조회
ser1.index

Index(['국어', '영어', '수학'], dtype='object')

In [12]:
# values 조회
ser1.values

array([70, 80, 90], dtype=int64)

In [6]:
# values 에서 상위 2개만 조회 : head(개수 지정 가능)
ser1.head(2)

국어    70
영어    80
dtype: int64

In [13]:
# values 에서 하위 2개만 조회 : tail(개수 지정 가능)
ser1.tail(2)

영어    80
수학    90
dtype: int64

In [10]:
# shape : 데이터 구조(행, 열)
ser1.shape

(3,)

### 업데이트

In [7]:
# 인덱스 변경
ser1.index = ["미술","음악","체육"]
ser1

미술    70
음악    80
체육    90
Name: 점수, dtype: int64

In [8]:
# 데이터 타입 변경 : astype("변경할 타입") => 원본은 변경 안 됨
ser1.astype("float64")

미술    70.0
음악    80.0
체육    90.0
Name: 점수, dtype: float64

In [9]:
# 특정 값 변경

ser1["음악"] = 85
ser1

미술    70
음악    85
체육    90
Name: 점수, dtype: int64

In [10]:
# 문자열 = 데이터 타입 : object
ser3 = pd.Series(["1.1","2.2","3.3"])
ser3

0    1.1
1    2.2
2    3.3
dtype: object

In [5]:
ser1 = ser1.rename("점수")
ser1

국어    70
영어    80
수학    90
Name: 점수, dtype: int64

### 삭제

In [10]:
del ser1["체육"]

In [11]:
ser1

미술    70
음악    85
Name: 점수, dtype: int64

#### 3) ndarray

In [12]:
# numpy 데이터 타입 : ndarray

import numpy as np

ser5 = pd.Series(np.random.randn(4), index = list("abcd"))
ser5

a    3.474032
b   -1.197027
c   -1.278501
d    1.479496
dtype: float64

#### 4) DataFrame 이용
    - series가 2개 이상이면 DataFrame

In [13]:
df = pd.DataFrame({"a":[1,2,3,4], "b":[5,6,7,8]})
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8