### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(
    {
        "영어" : [60,70],
        "수학":[100,50]
    },index=["Hong","Kim"]
)
df

In [ ]:
def func1(data):
    print(data.values)

In [ ]:
df.values

In [ ]:
# apply() : 데이터프레임에 함수 적용
#           함수는 어느 방향으로 적용시킬 것인가?

df.apply(func1)

<img src='https://www.w3resource.com/w3r_images/pandas-dataframe-apply-1.png' width="300" height="150">

In [ ]:
df.apply(func1,axis=1)

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-apply-2.png" width="300" height="200">

In [ ]:
# 영어 점수를 80 으로 수정

def func2(data):
    data["영어"] = 80
    return data

In [ ]:
df_func2 = df.apply(func2,axis=1)
df_func2

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-apply-3.png">

In [ ]:
df2 = pd.DataFrame([[9, 25]] * 3, columns=["P","Q"])
df2

In [ ]:
df2.apply(np.sqrt)

In [ ]:
df2.apply(np.sum)

In [ ]:
df2.apply(np.sqrt,axis=1)

In [ ]:
df2.apply(np.sum,axis=1)

In [ ]:
date_list = {"yyyy-mm-dd":["2005-09-28","2007-10-05","2012-12-20"]}
df = pd.DataFrame(date_list)
df

In [ ]:
# 년도만 잘라서 리턴

# "2005-07-20".split("-")[0]

def extract_year(col):
    return col.split("-")[0]

In [ ]:
df["yyyy-mm-dd"].apply(extract_year)
df

In [ ]:
# 나이 컬럼 추가

def get_age(year, cur_year):
    return cur_year - int(year)

In [ ]:
df['age'] = df['year'].apply(get_age,cur_year=2023)
df